*, *:before, *:after {
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  margin: 0; }

.link {
  color: #ff591f;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px; }

.arrow {
  background-color: transparent;
  border: none;
  opacity: 0.5;
  margin-right: 10px; }

.button {
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  background-color: #ff591f;
  text-transform: uppercase;
  font-weight: 700;
  padding: 24px 53px;
  border-radius: 100px;
  box-shadow: 0 10px 40px rgba(255, 89, 31, 0.35), 0 9px 46px rgba(255, 89, 31, 0.56); }

.circle {
  border-radius: 50%;
  background-color: #ffcd33;
  position: absolute;
  z-index: 0; }
  .circle_small {
    left: -30px;
    top: -50px;
    width: 170px;
    height: 170px; }
  .circle_big {
    right: -30px;
    top: -80px;
    width: 800px;
    height: 800px; }

.header {
  position: relative;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 20px 4fr 20px 2fr;
  grid-template-columns: 1.5fr 4fr 2fr;
      grid-template-areas: "header-logo header-nav header-contacts" ". header-text .";
  -ms-grid-rows: 2fr 10fr;
  grid-template-rows: 2fr 10fr;
  grid-column-gap: 20px;
  min-height: 850px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff9e6;
  font-size: 18px; }
  .header-logo, .header-nav, .header-contact, .header-text {
    position: relative; }
  .header-logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header-logo;
    -ms-grid-column-align: center;
        justify-self: center;
    position: relative; }
  .header-nav {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: header-nav;
    position: relative; }
    .header-nav__link {
      margin-right: 20px;
      text-decoration: none;
      color: #000; }
      .header-nav__link:last-child {
        margin-right: 0; }
  .header-img {
    position: absolute;
    bottom: 0;
    right: 300px;
    width: 400px; }
  .header-contacts {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: header-contacts;
    -ms-grid-column-align: center;
        justify-self: center;
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header-contacts__link {
      margin-right: 28px;
      text-decoration: none;
      color: #000;
      text-transform: uppercase; }
    .header-contacts__phone {
      font-size: 20px;
      font-weight: 900; }
    .header-contacts__callback {
      font-size: 14px;
      display: inline-block; }
      .header-contacts__callback:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #000; }
  .header-text {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: header-text;
    max-width: 650px;
    display: -ms-grid;
    display: grid;
    grid-row-gap: 70px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .header-title {
    font-size: 62px;
    margin: 0; }
  .header-subtitle {
    font-size: 22px;
    line-height: 34px; }
  .header-buttons__link {
    margin-left: 30px; }
    .header-buttons__link:after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: rgba(255, 89, 31, 0.6); }

.thumbs__link {
  text-decoration: none;
  font-size: 15px;
  color: #000;
  margin-right: 10px;
  font-weight: 700; }

/*# sourceMappingURL=style.css.map */
