*, *:before, *:after {
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  margin: 0; }

.link {
  color: #ff591f;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px; }

.arrow {
  background-color: transparent;
  border: none;
  opacity: 0.5;
  margin-right: 10px; }

.button {
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  background-color: #ff591f;
  text-transform: uppercase;
  font-weight: 700;
  padding: 24px 53px;
  border-radius: 100px;
  box-shadow: 0 10px 40px rgba(255, 89, 31, 0.35), 0 9px 46px rgba(255, 89, 31, 0.56); }

.circle {
  border-radius: 50%;
  background-color: #ffcd33;
  position: absolute;
  z-index: 0; }
  .circle_small {
    left: -30px;
    top: -50px;
    width: 170px;
    height: 170px; }
  .circle_big {
    right: -30px;
    top: -80px;
    width: 800px;
    height: 800px; }

.container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 5fr 3fr;
  grid-template-columns: 2fr 5fr 3fr; }

.header {
  -ms-grid-rows: 2fr 10fr;
  grid-template-rows: 2fr 10fr;
  grid-column-gap: 20px;
  min-height: 850px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff9e6;
  font-size: 18px; }
  .header-logo, .header-nav, .header-contact, .header-text {
    position: relative; }
  .header-logo {
    grid-area: header-logo;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2; }
  .header-nav {
    grid-area: header-nav;
    position: relative;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2; }
    .header-nav__link {
      margin-right: 20px;
      text-decoration: none;
      color: #000; }
      .header-nav__link:last-child {
        margin-right: 0; }
  .header-img {
    position: absolute;
    bottom: 0;
    left: 65%;
    width: 400px; }
  .header-contacts {
    grid-area: header-contacts;
    -ms-grid-column-align: center;
        justify-self: center;
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2; }
    .header-contacts__link {
      margin-right: 28px;
      text-decoration: none;
      color: #000;
      text-transform: uppercase; }
    .header-contacts__phone {
      font-size: 20px;
      font-weight: 900; }
    .header-contacts__callback {
      font-size: 14px;
      display: inline-block; }
      .header-contacts__callback:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #000; }
  .header-text {
    grid-area: header-text;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    max-width: 650px;
    display: -ms-grid;
    display: grid;
    grid-row-gap: 70px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .header-title {
    font-size: 62px;
    margin: 0; }
  .header-subtitle {
    font-size: 22px;
    line-height: 34px; }
  .header-buttons__link {
    margin-left: 30px; }
    .header-buttons__link:after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: rgba(255, 89, 31, 0.6); }

.thumbs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
  grid-template-columns: repeat(5, auto);
  grid-auto-flow: row; }
  .thumbs__link {
    text-decoration: none;
    font-size: 15px;
    color: #000;
    margin-right: 10px;
    font-weight: 700; }

.section-title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2; }

.section-description {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3; }

.section {
  padding: 5% 0; }
  .section-title {
    font-size: 55px; }
  .section-description {
    color: #666666;
    font-size: 22px;
    line-height: 1.6;
    font-weight: 300; }

.about-row {
  griw-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, -webkit-max-content));
  grid-template-columns: repeat(auto-fill, minmax(25%, max-content));
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.about-col {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 300px auto 50px;
  grid-template-rows: 300px auto 50px;
  grid-auto-rows: auto;
  -webkit-box-align: end;
  -webkit-align-items: end;
      -ms-flex-align: end;
          align-items: end;
  justify-items: center; }

.about__title {
  color: #ff591f;
  font-size: 90px;
  margin: 0;
  margin-top: -70px; }

.about__text {
  -webkit-align-self: start;
      -ms-flex-item-align: start;
              -ms-grid-row-align: start;
          align-self: start; }

@media (max-width: 1360px) {
  .container {
    -ms-grid-columns: 1fr 5fr 2fr;
    grid-template-columns: 1fr 5fr 2fr; }
  .header {
    -ms-grid-rows: 1fr 1fr 7fr;
    grid-template-rows: 1fr 1fr 7fr; }
    .header-nav {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      grid-column: 2/3;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-row: 2/3; }
    .header-logo {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      grid-column: 2/3;
      -ms-grid-column-align: start;
          justify-self: start; }
    .header-contacts {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      grid-column: 2/3;
      -ms-grid-column-align: end;
          justify-self: end; }
    .header-text {
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      grid-row: 3/4; }
  .about-row {
    grid-template-columns: repeat(auto-fill, minmax(50%, -webkit-max-content));
    grid-template-columns: repeat(auto-fill, minmax(50%, max-content)); } }

@media (max-width: 992px) {
  .container {
    -ms-grid-columns: 1fr 8fr 1fr;
    grid-template-columns: 1fr 8fr 1fr; }
  .header {
    -ms-grid-rows: 1fr 0.5fr 0.7fr 10fr;
    grid-template-rows: 1fr 0.5fr 0.7fr 10fr; }
    .header-contacts {
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-row: 2/3;
      -ms-grid-column-align: start;
          justify-self: start; }
    .header-nav {
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      grid-row: 3/4; }
    .header-text {
      -ms-grid-row: 4;
      -ms-grid-row-span: 1;
      grid-row: 4/5;
      grid-row-gap: 40px; }
    .header-title {
      font-size: 36px; }
    .header-subtitle {
      font-size: 18px;
      line-height: 24px; } }

@media (max-width: 768px) {
  .header {
    font-size: 15px; }
    .header-nav {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto); }
    .header-buttons {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .header-buttons__link {
        display: inline-block;
        margin-top: 20px;
        margin-left: 20px; }
  .thumbs {
    -ms-grid-columns: (auto)[2];
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
        -ms-flex-pack: start;
            justify-content: start; } }

@media (max-width: 567px) {
  .container {
    -ms-grid-columns: ()[auto];
    grid-template-columns: repeat(auto); }
  .header {
    -ms-grid-rows: 0.7fr 0.3fr 1fr 6fr;
    grid-template-rows: 0.7fr 0.3fr 1fr 6fr; }
    .header-nav {
      -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
      grid-gap: 10px; }
    .header-img {
      width: 200px; }
  .section-title {
    font-size: 36px; }
  .section-description {
    font-size: 18px; }
  .about-row {
    grid-template-columns: repeat(auto-fill, minmax(100%, -webkit-max-content));
    grid-template-columns: repeat(auto-fill, minmax(100%, max-content)); } }

/*# sourceMappingURL=style.css.map */
