<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Реклама в вашем городе
        link(rel="stylesheet", href="css/style.css")
    body
        header.header.container
            .circle.circle_small
            .circle.circle_big
            img.header-img(src="img/header-img.png", alt="")
            a.header-logo(href="#")
                img(src="img/logo.png", alt="")
            nav.header-nav
                a.header-nav__link(href="#") Услуги
                a.header-nav__link(href="#") Наши работы
                a.header-nav__link(href="#") Наши модели
                a.header-nav__link(href="#") О нас
                a.header-nav__link(href="#") Вакансии
                a.header-nav__link(href="#") Контакты  
            .header-contacts
                a.header-contacts__link.header-contacts__phone(href="#") 8 800 123-65-54
                a.header-contacts__link.header-contacts__callback(href="#") заказать звонок  
            .header-text
                h1.header-title 
                    |Проведем ваш<br>
                    |праздник под ключ!
                span.header-subtitle 
                    |Подберем любой персонал и организуем<br>
                    |мероприятия любой сложности.
                .header-buttons 
                    a.button(href="#") Заказать персонал
                    a.link.header-buttons__link(href="#") Узнать больше     
                .arrow
                    button.arrow.arrow__left
                        img(src="img/arrow-left.png", alt="")
                    button.arrow.arrow__right
                        img(src="img/arrow-right.png", alt="")
                .thumbs
                    a.thumbs__link(href="#") Промоутеры 
                    a.thumbs__link(href="#") Промо модели
                    a.thumbs__link(href="#") Стендистки
                    a.thumbs__link(href="#") Консультанты
                    a.thumbs__link(href="#") Хостес
        
        section.section.about
            .container
                h2.section-title Кто мы такие?
                p.section-description.
                    С 2006 года MAXIMALLLS активно занимается организацией бизнес-мероприятий по системе M.I.C.E. Качество нашей работы отмечают зарубежные коллеги, нас ценят и уважают, нам доверяют реализацию самых сложных с точки зрения организации проектов.
                .about-row
                    .about-col
                        img.about__img(src="img/about/1.png", alt="10 лет работы")
                        h3.about__title 10
                        span.about__text лет работы
                    .about-col
                        img.about__img(src="img/about/2.png", alt="34 городов присутствия")
                        h3.about__title 34
                        span.about__text городов<br> присутствия
                    .about-col
                        img.about__img(src="img/about/3.png", alt="1011 проведено мероприятий")
                        h3.about__title 1011 
                        span.about__text проведено<br> мероприятий
                    .about-col
                        img.about__img(src="img/about/4.png", alt="543 позитивных промоутеров")
                        h3.about__title 543
                        span.about__text позитивных<br> промоутеров


